<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="DomainServiceChassis" value="eShoppingSimple.ServiceChassis.Domain\bin\Debug" />
		<add key="StorageServiceChassis" value="eShoppingSimple.ServiceChassis.Storage\bin\Debug" />
		<add key="WebApiServiceChassis" value="eShoppingSimple.ServiceChassis.WebApi\bin\Debug" />
		<add key="EventsAbstractionServiceChassis" value="eShoppingSimple.ServiceChassis.Events.Abstractions\bin\Debug" />
		<add key="EventsFakesServiceChassis" value="eShoppingSimple.ServiceChassis.Events.Fakes\bin\Debug" />
		<add key="EventsInitChassis" value="eShoppingSimple.ServiceChassis.Events.Init\bin\Debug" />
		<add key="EventsModelsServiceChassis" value="eShoppingSimple.ServiceChassis.Events.Models\bin\Debug" />
		<add key="StorageAbstractionsServiceChassis" value="eShoppingSimple.ServiceChassis.Storage.Abstractions\bin\Debug" />
		<add key="StorageEfCoreServiceChassis" value="eShoppingSimple.ServiceChassis.Storage.EfCore\bin\Debug" />
	</packageSources>
</configuration>